.spinner-container {
    height: 400px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons {
    justify-self: flex-end;
}

.question-number {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.answered {
    background-color: rgb(127, 170, 243);
}

.selected {
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border-color: black;
    border-width: 2px;
}

.incorrect-label {
    color: rgb(126, 9, 9);
}

.correct-label {
    color: rgb(14, 147, 14);
    font-weight: bold;
    font-style: italic;
}

.correct-box {
    background-color: rgb(14, 147, 14);
    color: white;
}

.incorrect-box {
    background-color: rgb(147, 13, 13);
    color: white;
}

.selected.incorrect-box {
    background-color: rgb(134, 3, 3);
}

.selected.correct-box {
    background-color: rgb(8, 136, 8);
}

.exam {
    font-size: var(--slds-g-font-scale-2);
    font-weight: var(--slds-g-font-weight-5);
}

.pass,
.fail {
    font-weight: bold;
}

.pass {
    color: rgb(8, 136, 8);
}

.fail {
    color: rgb(134, 3, 3);
}
