.question-number {
    height: 35px;
    width: 35px;
    cursor: pointer;
}

.answered {
    background-color: rgb(127, 170, 243);
}

.selected {
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border-color: black;
    border-width: 2px;
}

.incorrect-label {
    color: rgb(126, 9, 9);
}

.correct-label {
    color: rgb(14, 147, 14);
    font-weight: bold;
    font-style: italic;
}

.correct-box {
    background-color: rgb(14, 147, 14);
    color: white;
}

.incorrect-box {
    background-color: rgb(147, 13, 13);
    color: white;
}

.selected.incorrect-box {
    background-color: rgb(134, 3, 3);
}

.selected.correct-box {
    background-color: rgb(8, 136, 8);
}
